<div appBlockStyle
*ngIf="tickets && tickets.length > 0"
[selector]="'.ticket-item'">

    <div>
        <p>Количество туров: {{ filteredTickets.length}}</p>
        <p>Количество элементов: {{tickets.length}}</p>
    <input class="m-2" type="text" placeholder="Отфильтровать туры" [(ngModel)]="searchText">
    <button class="btn btn-success" type="button" (click)="filterTickets(searchText)">Поиск</button>
    </div>
  
  <!-- Отображение отфильтрованных туров -->

  <div *ngIf="filteredTickets && filteredTickets.length > 0">
    <div class="d-flex flex-wrap justify-content-around">
      <div class="ticket-item col-3 m-2" 
      (click)="goToTicketInfoPage(item)"
         *ngFor="let item of filteredTickets">
        <div class="ticket-title">{{ item.name }}</div>
        <div class="ticket-img">
          <img class="w-100" src="/assets/img/{{ item.img }}"/>
        </div>
      </div>
    </div>
  </div>
  
  
  <div *ngIf="filteredTickets && filteredTickets.length === 0">
    <p>Нет результатов для отображения</p>
  </div>
</div>
  