.ticket-item {
    height: 300px;
    border: 1px solid #5e5e5e;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ticket-title {
    padding: 2rem;
}

.ticket-img img {
    height: 200px; 
    width: 100%; 
}
